* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(./bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: center/cover;
  background-color: #674baf;
}

.g-wrapper {
  max-height: 100vh;
  margin: 20px auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(375px, 1fr);
      grid-template-columns: minmax(375px, 1fr);
      grid-template-areas: "logo" "pics" "title" "content" "reg" "social" "attribution";
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  width: 100%;
  padding-bottom: 4rem;
}

.logo img {
  width: 40%;
}

.pics {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pics;
  padding-bottom: 3rem;
}

.pics img {
  max-width: 95%;
}

.title {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: title;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #fff;
  padding-bottom: 1rem;
}

.content {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content;
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  padding-bottom: 2rem;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2rem;
}

.reg {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: reg;
  text-align: center;
  padding-bottom: 2rem;
}

.reg .btn {
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #674baf;
  padding: 10px 50px;
  border-radius: 100px 100px 100px 100px;
}

.social {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: social;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

.social .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #fff;
  margin-left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.attribution {
  font-size: 12px;
  text-align: center;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: attribution;
}

.attribution a {
  color: white;
  font-family: 'Poppins',sans-serif;
}

@media (min-width: 376px) {
  body {
    background-image: url(./bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: center/cover;
    padding: 0px;
    margin: 0px;
  }
  .g-wrapper {
    max-width: 1440px;
    margin: 25px auto 0 auto;
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
    gap: none;
        grid-template-areas: "logo logo logo logo" "pics pics title title" "pics pics content content" "pics pics reg reg " "pics pics . ." ". . . social" ". attribution attribution .";
  }
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: logo;
    padding-bottom: 50px;
  }
  .logo img {
    max-width: 22%;
  }
  .pics {
    max-width: 100%;
    padding: 0px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: pics;
  }
  .pics img {
    max-width: 100%;
  }
  .title {
    text-align: left;
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: title;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 90px;
  }
  .content {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: content;
    text-align: left;
    padding-left: 90px;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
  }
  .reg {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: reg;
    text-align: left;
    padding-left: 90px;
  }
  .social {
    -ms-grid-row: 6;
    -ms-grid-column: 4;
    grid-area: social;
    padding: 0px;
  }
  .attribution {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: attribution;
  }
}
/*# sourceMappingURL=style.css.map */